{{ define "admin/profile.html"}} {{ template "header" . }}
  

<!-- ADMIN PROFILE -->
    <section class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-lg font-semibold mb-4 flex items-center gap-2">
        <i class="fa-solid fa-id-card text-[var(--color-teal-gray)]"></i> Data Diri Admin
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 text-gray-700">
        <p><strong>Nama:</strong> Dar Admin</p>
        <p><strong>Email:</strong> dar.admin@example.com</p>
        <p><strong>Role:</strong> Super Administrator</p>
        <p><strong>Bergabung Sejak:</strong> 12 Mei 2022</p>
      </div>
    </section>
{{ end }}
