{{ define "base/dashboard.html"}} {{ template "header" . }}

<main class="min-h-screen">
  {{ template "bg-animated" }}
  <section
    class="relative min-h-screen bg-cover bg-center flex items-center justify-center"
  >
    <div class="absolute inset-0 bg-[var(--color-jet-black)]/60"></div>

    <div
      class="relative z-10 px-10 py-8 rounded-2xl bg-white/90 backdrop-blur shadow-[var(--shadow-lg)] text-center max-w-md"
    >
      <h1 class="text-2xl font-semibold text-[var(--color-charcoal)] mb-3">
        Investment
      </h1>

      <p class="text-sm text-gray-600 mb-6">
        Pantau dan kelola investasi Anda dengan product product berkelas
      </p>

      <a href="/user">
        <button
          class="w-full py-2 rounded-lg text-white bg-[var(--color-steel-blue)] hover:opacity-90 transition"
        >
          Welcome
        </button>
      </a>
    </div>
  </section>
</main>

{{ end }}
